div.msg_bbl {
  background-color: #ddd;
  padding: 5px 10px;
  border-radius: 10px;
  color: rgb(85, 85, 85);
  margin-bottom: 5px;
}
footer.footer {
padding-top: 50rem;
padding-bottom: 4rem;
}

body {
margin: 0;
font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
font-weight: 400;
line-height: 1.5;
color: #212529;
background-color: rgba(179, 169, 31, 0.2);
-webkit-text-size-adjust: 100%;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
